/* COMMON SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}


.fl {
  float:left;
}

.fr {
  float:right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.button{
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.button.a{
  background-color:#FFFFFF;
  border: 1px #FE775A solid;
}

.button.b{
  background-color:#FE775A;
}

.centertext{
  text-align: center;
}
/* COMMON SETTINGS END */

/* nav class */
.hnavigator{
 width: 100%;
 height: 100px;
}

.hnavigator.up{
  background-color:#F4F9FD;
  border-bottom: 2px #32495B solid;
}

.hnavigator.down{
  background-color:#FFFFFF;
}

.navi{
  height: 100px;
}

.navi.left > ul{
  height: 100px;
  line-height: 100px;
}

.navi.left > ul > li{
  display: inline-block;
  margin-right: 15px;
}

.magni{
width: 45px;
height: 45px;
background-image: url("../images/lente.png");
vertical-align: middle;
}

.navi.right > ul{
  height: 100px;
  line-height: 100px;
}

.navi.right > img{
  padding-top: 35px;
}

.navi.right > ul > li{
  display: inline-block;
  margin-right: 15px;
}

/* end nav class */

/* header class */
.jumbotroncontainer{
  width: 100%;
  height: 695px;
  background-image: url(../images/jumbotron.png);
  background-repeat: no-repeat;
  background-position:right top;
  position: relative;
  background-color: #FFF4EF;
}

.jumbotroncontainer:before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 80px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

.jumbotron{
  padding-top: 50px;
}

.jumbotron > p{
  margin-top: 25px;
  margin-bottom: 25px;
}
/* header class end */

/* class main */
main{
  width: 100%;
  height: 100%;
  background-color: #F4F9FD ;
}
.content{
  height: 1500px;
}

.cube{
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
}

.text{
  text-align: center;
}

.text > p{
margin-top: 30px;
}

.text > h1{
  margin-top: 30px;
  }

.card{
background-color: #FFFFFF;
height: 400px;
margin-top: 30px;
margin-bottom: 30px;
}

.cardleft{
  width: 30%;
  height: 100%;
  border: 1px solid black;
}

.cardright{
  width: 70%;
  height: 100%;
  border: 1px solid black;
}

.book{
  height: 143px;
  width: 105px;
  margin: 0 auto;
}

.learn{
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  background-color:#FE775A;
  position: relative;
  left: 38%;
}

.column{
  width: 26%;
  height: 600px;
  background-color: #FFFFFF;
  border: 2px solid black;
}

.second{
  margin: 0% 11%;
}

hr{
  width: 60px;
  display: inline-block;
  vertical-align: middle;
}

.textblock > ul{
  height: 40px;
  line-height: 40px;
}

.textblock > ul > li{
  display: inline-block;
}

.check{
  width: 19px;
  color: orange;
  text-align: center;
}

.contentimage{
  margin: 0 auto;
  text-align: center;
}

.contenttext{
  text-align: center;
}

.hrbottom{
  border-bottom: 2px solid gray;
}

.learn2{
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  background-color:#FE775A;
}

.contgrad{
  width: 100%;
  height: 600px;
  background: linear-gradient(45deg,#00a4bd,#00bda5);
}

.gradientcontainer{
  height: 600px;
}

.row{
  width: 100%;
  margin-top: 50px;
}

.box{
  width: 25%;
  height: 150px;
}


.box:first-child, .box:nth-child(2), .box:nth-child(3){
  border-right: 1px solid white;
}

.box:nth-child(5), .box:nth-child(6), .box:nth-child(7), .box:nth-child(8){
  border-top: 1px solid white;
}

.box:nth-child(5), .box:nth-child(6), .box:nth-child(7){
  border-right: 1px solid white;
}

.num{
  font-size: 40px;
  height: 40px;
}

.plus::after{
  content: "+";
  font-size: 0.5em;
  line-height: 40px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -4px;
}

.custcontainer{
 width: 100%;
 height: 600px;
 background-color: #ffffff;
}

.customer{
  height:600px;
}

.custup{
  height: 40%;
  width: 100%;
}

.ncust{
  width: 25%;
  height: 100%;
  border: 2px solid black;
}

.logcust{
  width: 75%;
  height: 100%;
}

.logogrid{
  width: 80%;
  height: 80%;
  margin:24px 90px;
  border: 1px solid black;
}

.boxcont{
  margin-top: 46px;
}

.logobox{
  width: 25%;
  height: 50px;
  background-image: url(../images/trello.webp);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border:2px solid red;
}

.custdown{
  height: 60%;
  width: 100%;
  border: 2px solid black;
}

.growingbox{
  width: 70%;
  height: 100%;
    border: 2px solid black;
}

.happycustomerpic{
  width: 30%;
  height: 100%;
  background-image: url(../images/woman.webp);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: top 10px right 0px;
}

.gethub{
  width: 180px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  background-color:#FE775A;
}

footer{
  width: 100%;
  height: 800px;
  background-color: #32495B;
}

.foot{
  height: 400px;
}

.footbox{
  height: 100%;
  width: 25%;
  border: 2px solid black;
}

a{
  text-decoration: none;
  color: white;
}

.contactbutton{
  width: 180px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  background-color:#DADEE0;
  font-size: 0.6em;
}

.iconlist{
  height: 100px;
  line-height: 100px;
}

.iconlist > li{
  display: inline-block;
  margin-right: 15px;
}

.language{
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.language > li{
  display: inline-block;
  margin-right: 15px;
}

.langcont{
  border-bottom: 2px solid white;
  height: 2px;
  width: 100%;
}

.bottomfoot{
  background-color: yellow;
  width: 100%;
  height: 50px;
}



/* class main end */

/* errori css */
/*
3	*	Property box-sizing doesn't exist in CSS level 2.1 but exists in : border-box border-box
26		The pseudo-element ::after can't appear here in the context css21 [after]
37	.button	Property border-radius doesn't exist in CSS level 2.1 but exists in : 5px 5px
199	.learn	Property border-radius doesn't exist in CSS level 2.1 but exists in : 5px 5px
258	.learn2	Property border-radius doesn't exist in CSS level 2.1 but exists in : 5px 5px
267	.contgrad	Value Error : background Too many values or values are not recognized : linear-gradient(45deg,#00a4bd,#00bda5) linear-gradient(45deg,#00a4bd,#00bda5)
285		Unknown pseudo-element or pseudo-class :nth-child
285		Unknown pseudo-element or pseudo-class :nth-child
289		Unknown pseudo-element or pseudo-class :nth-child
289		Unknown pseudo-element or pseudo-class :nth-child
289		Unknown pseudo-element or pseudo-class :nth-child
289		Unknown pseudo-element or pseudo-class :nth-child
293		Unknown pseudo-element or pseudo-class :nth-child
293		Unknown pseudo-element or pseudo-class :nth-child
293		Unknown pseudo-element or pseudo-class :nth-child
302		The pseudo-element ::after can't appear here in the context css21 [after]
353	.logobox	Property background-size doesn't exist in CSS level 2.1 but exists in : 40% 40%
375	.happycustomerpic	Property background-size doesn't exist in CSS level 2.1 but exists in : 80% 80%
377	.happycustomerpic	Value Error : background-position Too many values or values are not recognized : top 10px right 0 top 10px right 0
385	.gethub	Property border-radius doesn't exist in CSS level 2.1 but exists in : 5px 5px
415	.contactbutton	Property border-radius doesn't exist in CSS level 2.1 but exists in : 5px 5px */
