/* COMMON SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}


.fl {
  float:left;
}

.fr {
  float:right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.button{
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.button.a{
  background-color:#FFFFFF;
  border: 1px #FE775A solid;
}

.button.b{
  background-color:#FE775A;
}

.centertext{
  text-align: center;
}
/* COMMON SETTINGS END */

/* nav class */
.hnavigator{
 width: 100%;
 height: 100px;
}

.hnavigator.up{
  background-color:#F4F9FD;
  border-bottom: 2px #32495B solid;
}

.hnavigator.down{
  background-color:#FFFFFF;
}

.navi{
  height: 100px;
}

.navi.left > ul{
  height: 100px;
  line-height: 100px;
}

.navi.left > ul > li{
  display: inline-block;
  margin-right: 15px;
}

.magni{
width: 45px;
height: 45px;
background-image: url("../images/lente.png");
vertical-align: middle;
}

.navi.right > ul{
  height: 100px;
  line-height: 100px;
}

.navi.right > img{
  padding-top: 35px;
}

.navi.right > ul > li{
  display: inline-block;
  margin-right: 15px;
}

/* end nav class */

/* header class */
.jumbotroncontainer{
  width: 100%;
  height: 695px;
  background-image: url(../images/jumbotron.png);
  background-repeat: no-repeat;
  background-position:right top;
  position: relative;
  background-color: #FFF4EF;
}

.jumbotroncontainer:before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 80px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

.jumbotron{
  padding-top: 50px;
}

.jumbotron > p{
  margin-top: 25px;
  margin-bottom: 25px;
}
/* header class end */

/* class main */
main{
  width: 100%;
  height: 2000px;
  background-color: #F4F9FD ;
}
.content{
  background-color: blueviolet;
  height: 100%;
}

.cube{
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
}

.text{
  text-align: center;
}

.text > p{
margin-top: 30px;
}

.text > h1{
  margin-top: 30px;
  }

.card{
background-color: #FFFFFF;
height: 400px;
margin-top: 30px;
margin-bottom: 30px;
}

.cardleft{
  width: 30%;
  height: 100%;
  background-color: bisque;
}

.cardright{
  width: 70%;
  height: 100%;
}

.book{
  height: 143px;
  width: 105px;
  margin: 0 auto;
}

.learn{
  /* margin: 0 auto; */
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  background-color:#FE775A;
  position: relative;
  left: 38%;
}

.column{
  width: 26%;
  height: 600px;
  background-color: #FFFFFF;
  border: 2px solid black;
}

.second{
  margin: 0% 11%;
}

hr{
  width: 60px;
  display: inline-block;
  vertical-align: middle;
}

.textblock > ul{
  height: 40px;
  line-height: 40px;
}

.textblock > ul > li{
  display: inline-block;
}

.check{
  width: 19px;
  color: orange;
  text-align: center;
}

.contentimage{
  margin: 0 auto;
  text-align: center;
}

.contenttext{
  text-align: center;
}

.hrbottom{
  border-bottom: 2px solid gray;
}

.learn2{
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  background-color:#FE775A;
}

.content2{
  height: 100%;
  width: 100%;
  /* min-width: 1200px; */

}

.gradientcontainer{
  height: 600px;
  background: linear-gradient(45deg,#00a4bd,#00bda5);
}

.row{
  width: 100%;
  margin-top: 50px;
}

.box{
  width: 25%;
  height: 150px;
}


.box:first-child, .box:nth-child(2), .box:nth-child(3){
  border-right: 1px solid white;
}

.box:nth-child(5), .box:nth-child(6), .box:nth-child(7), .box:nth-child(8){
  border-top: 1px solid white;
}

.box:nth-child(5), .box:nth-child(6), .box:nth-child(7){
  border-right: 1px solid white;
}

.num{
  font-size: 40px;
  height: 40px;
}

.plus::after{
  content: "+";
  font-size: 0.5em;
  line-height: 40px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -4px;
}




/* class main end */
